{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container">
  {{wtf.quick_form(comment_form)}}
</div>
<div>
  {% for feed in all_comments %}
  <div class="w3-card w3-sand w3-hover" style="padding: 10px; margin-top: 1%; border-radius: 12px;">
    <h5>Post</h5>
    <p>{{ blog_comment }}</p>
    <small>Comments</small><br>
    <p> - {{ feed.comment_stuff }}</p>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
  </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Blog?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="{{url_for('main.delete_comment', post_id = feed.id)}}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}