<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="w3-bar">
        <a class="navbar-brand" href="{{url_for('main.index')}}" id="logo">SAFARI YA NYIKA</a>
       

        <a href="{{url_for('main.logout')}}" class="w3-bar-item w3-button w3-hover-none w3-text-teal w3-hover-text-white w3-right">LOGOUT</a>
        <a href="{{url_for('main.profile')}}" class="w3-bar-item w3-button w3-hover-none w3-text-teal w3-hover-text-white w3-right">MY PROFILE</a>
        <a href="{{url_for('main.registration')}}" class="w3-bar-item w3-button w3-hover-none w3-text-teal w3-hover-text-white w3-right">SIGN IN</a>

        <a href="" class="w3-bar-item w3-button w3-hover-none w3-text-teal w3-hover-text-white w3-right">POST BLOG</a>
        <a href="{{url_for('main.index')}}" class="w3-bar-item w3-button w3-hover-none w3-text-teal w3-hover-text-white w3-right">HOME</a>
    </div>
</nav>